* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Operator Mono';
  overflow-x: hidden;
}

#Home .jumbotron {
  background-image: url("./assets/home.jpg");
  background-size: cover;
  background-position: center;
  height: 70vh !important;
  align-items: center;
}

.home-heading {
  text-shadow: 2px 4px 8px #000 !important;
}

#Dashboard .jumbotron {
  height: 50vh !important;
  align-items: center;
}

#Login, #Signup, #Alert {
  width: 60%;
  margin: auto;
}